.container {
    height: calc(100vh - 100px);
    background-color: #222;
    display: flex;
    color: white;
}

.item {
    flex: 1;
    position: relative;
    display: flex;
}

.item:last-child {
    flex: 2;
    padding: 50px;
    justify-content: space-between;
}

.card {
    flex: 1;
    padding: 0 20px;
}

.leftTitle {
    color: white;
}

.title {
    color: chocolate;
}

.address {
    color: rgb(228, 216, 216);
}

.hour {
    color: rgb(228, 216, 216);

}

@media screen and (max-width: 480px) {

    .container {
        height: auto;
        text-align: center;
    }
    .item:first-child {
        display: none;
    }

    .item {
        flex-direction: column;
    }

    .title {
        font-size: 30px;
    }

    .address {
        font-size: 20px
    }
}

